<% weekly_segments = get_weekly_segments_for_headers(cohorts) %>

<div class="container">
  <div class="row" style="overflow-x:auto;">
    <table class="table" >
      <thead>
        <tr>
          <th scope="col">Cohort</th>
          <th scope="col">Users</th>
          <% weekly_segments.each_with_index do |_, index| %>
            <th scope="col">
              <%= 7*index %> - <%= (index*7) + 7 %> days
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% cohorts.each do |cohort| %>
          <tr scope="row">
            <td><%= cohort.start_date.strftime("%D") %></td>
            <td><%= cohort.total_user_count.to_s + " users" %></td>
            <% presenter = ::Presenters::WeeklyAnalysisPresenter.new(cohort, weekly_segments) %>
            <% presenter.weekly_data.each do |weekly_datum| %>
              <td>
                <% if weekly_datum.present? %>
                  <div> <%= weekly_datum.user_order_content %> </div>
                  <div> <%= weekly_datum.user_first_order_content %> </div>
                <% else %>
                  <div>NA</div>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
